company_name,nse,exchange
Rubicon Research Limited,RUBICON,NSE
VA Tech Wabag Limited,WABAG,NSE
Dr. Lal Path Labs Limited,LALPATHLAB,NSE
Karur Vysya Bank Limited,KARURVYSYA
Computer Age Management Services Limited,CAMS
